@{
    ViewData["Title"] = "About";
}


<div class="container bg-light p-sm-5 mt-5" style="border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

    <div class="row">
        <div class="col-md-12" style="padding: 15px;">
            <h3>Photo Adventure Works</h3>
            <hr />
            <p>Photo Adventure Works es una aplicación web que permite a los usuarios subir y compartir fotos. Los usuarios pueden ver todas las fotos subidas, 
                ver detalles de una foto específica, agregar comentarios a las fotos y buscar fotos por título o descripción.</p>
            <p>La aplicación también permite a los usuarios registrarse, iniciar sesión y administrar su galería de fotos. Los usuarios pueden editar y 
                eliminar sus propias fotos, así como ver todas las fotos subidas por otros usuarios.</p>
            <p>Photo Adventure Works es una excelente manera de compartir tus fotos favoritas con amigos y familiares, así como descubrir nuevas fotos 
                de otros usuarios.</p>
        </div>
    </div>

    <hr />

    <h2>Información del Proyecto</h2>
    <br>
    <p>Este proyecto fue creado usando <strong>ASP.NET Core MVC 8</strong>. <p>
    <p>Microsoft Visual Studio Community 2022 - Version 17.10.0.</p>
    <p>Publicado en azure web app. Con el enlace directo como:
        <a href="https://photoadventureworks.azurewebsites.net/" target="_blank" >https://PhotoAdventureWorks.azurewebsites.net/</a></p>

    <hr />

    <h2>Desarrolladores:</h2>

    <table>
        <tr>
            <td>Alexander Vladimir Henriquez Perlera</td>
            <td>&ensp;</td>
            <td>29-1287-2012</td>
        </tr>
        <tr>
            <td>Ricardo Cordova Kanter</td>
            <td>&ensp;</td>
            <td>29-1576-2023</td>
        </tr>
    </table>

    <hr />

    <h2>Clase:</h2>
    <p>Programacion II - Universidad Tecnologica De El Salvador</p>

    <hr />

    <h2>Fecha</h2>
    <p>Mayo 2024</p>

</div>



